*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 100px; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: url(images/image.png);
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 60px;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-size: 32px;
  font-weight: bold;
  color: #ffcc00;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 15px; 
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a,
.navbar ul li button {
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.navbar ul li a:hover,
.navbar ul li button:hover {
  color: #ffcccb;
}

.Account,
.Login {
  background: white;
  color: #1729b1;
  border-radius: 5px;
  padding: 6px 12px;
  border: none;
  transition: 0.3s;
}

.Account:hover,
.Login:hover {
  color: #fff;
}
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 8% auto;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.modal-content h2 {
  text-align: center;
  color: green;
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions button {
  flex: 1;
  margin: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#forgotBtn { background-color: gray;color: black; }
#submitBtn { background-color: #007bff; color: #fff; }
#loginBtn { background-color: yellow; color: #fff; }
#backBtn { background-color: gray; color: #000; }
#submitBtn:hover { background-color: #22bb33; }

.close {
  float: right;
  font-size: 22px;
  cursor: pointer;
  color: #e63946;
}

.close:hover {
  color: black;
}
.portfolio-container {
  width: 90%;
  max-width: 1100px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  margin: 60 100 60 100 ;
}
.card h2 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #111;
}
.card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #041166;
}
.card h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: gray;
}
.hamburger {
  display:none;
  font-size: 20px;
  cursor:pointer;
}
.red-bar {
  background: #8b0000;
  width: 10px;
  height: 100%;
  border-radius: 5px;
}

.vertical {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.about {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.tourist-plase {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.tourist-plase span {
  background-color:burlywood; 
  border: #b67d14e0 solid 2px;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  flex: 1 0 180px;
}
.tourist-plase a{
  text-decoration: none;
  color: rgb(85, 26, 139);
}
.tourist-plase span:hover {
  scroll-behavior: smooth;
}
p{
  font-size: 15px;
  text-transform: capitalize;
  word-spacing: 3px;
  font-weight: bold;
  color: #333;
  
}
b{
  font-size: 18px;
  font-weight: bold;
  color: rgb(19, 123, 125);
  text-transform: capitalize;
}
.tourist-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.tourist-container span {
  background-color: burlywood; 
  color: rgb(85, 26, 139);
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
  flex: 1 0 180px;
}
.tourist-container a{
  text-decoration: none;
  color: rgb(85, 26, 139) ;
}
.tourist-container span:hover {
  scroll-behavior: smooth;
  background-color: gold;
}

.jaisalmer{
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.jodhpur{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.ajmer{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.ranthambore{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.bikaner{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.pushkar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.bharatpur{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.bundi{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.sawai_Madhopur{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.chittorgarh{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.hanumangarh{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.jhunjhunu{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.jaipur{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 20px;
}
.udaipur{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.mount_abou{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}

.Somnath_Veraval {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Mallikarjuna_Srisailam {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Mahakaleshwar_Ujjain {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Omkareshwar_Khandwa {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Kedarnath_Uttarakhand {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.Bhimashankar_Pune {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.Kashi_Vishwanath_Varanasi {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}  
.Trimbakeshwar_Nashik{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Vaidyanath_Deoghar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Nageshwar_Dwarka{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Ramanathaswamy_Rameswaram{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.Grishneshwar_Ellora{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.golden_temple_amritsar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.wagah_border_amritsar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.jallianwala_bagh_amritsar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.taj_mahal_agra{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}        
.varanasi_kashi{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}  
.agra_fort_agra{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.mathura_vrindavan{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.fatehpur_sikri_agra{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}           
.ayodhya{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}             
.sarnath_varanasi{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}    
.somnath_veraval{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}     
.rann_of_kutch_bhuj{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.gir_national_park_junagadh{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.dwarkadhish_temple_dwarka{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.sabarmati_ashram_ahmedabad{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.statue_of_unity_kevadiya{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}  
.saputara_hill_station_dang{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.khajuraho_temples_chhatarpur{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
} 
.kanha_national_park_mandla{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.gwalior_fort_gwalior{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}  
.ujjain_mahakaleshwar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.sanchi_stupa_raisen{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.pachmarhi_hill_station{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.bandhavgarh_national_park{  
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.red_fort{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.india-gate{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.qutub_minar{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.humayun_tomb{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.akshardham_temple{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.chhatarpur_temple {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.iskcon_temple {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.lotus_temple {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.jama-masjid{
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.rail_museuml {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.rashtrapati_bhavan { 
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.jantar_mantar {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.purana_qila {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.bangla_sahib {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.raj_ghat {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.hauz_khas_fort {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.agrasen_baoli {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.nehru_park {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.craft_museum {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.chandni_chowk {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.sarojini_nagar_market {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.dilli_haat {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.national_museum {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.khan_market {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.karol_bagh_market {
  width: 100%;
  height: auto;
  border: 10px;
  margin-left: 40px;
}
.social-links a i{
  size: 30px;
}
footer {
  background-color: gray; 
  color: white;
  text-align: center;
  padding: 15px 0;
  font-family: Arial, sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    text-align: center;
  }
  .red-bar.vertical {
    position: static;
    width: 100%;
    height: 5px;
  }
 .menu-toggle {
    display: block;
    size: 32px;
  }
  #nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 58px;
    right: 20px;
    background-color: grey;
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  #nav-links.active {
    display: flex;
  }
  #nav-links li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  #nav-links li a,
  #nav-links li button {
    color: white;
    font-size: 18px;
    width: 100%;
  }
  .Account,
  .Login {
    background: white;
    color: #e63946;
    width: 100%;
  }
  .Account:hover,
  .Login:hover {
    background: #ffcccb;
    color: white;
  }
} 
